@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(24, 211, 139);
}

.container {
    width: 620px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 2px rgb(16, 95, 65);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form input {
    width: 100%;
    height: 30px;
    margin-bottom: 30px;
}

.form button {
    width: 100%;
    height: 40px;
    border: none;
    cursor: pointer;
    background-color: rgb(16, 95, 65);
    color: #fff;
    font-size: 16px;
}

.form button:hover {
    background-color: rgb(27, 133, 92);
}